{
  "CreateTodoFn": { "TABLE_NAME": "todos-local" },
  "ListTodosFn":  { "TABLE_NAME": "todos-local" },
  "GetTodoFn":    { "TABLE_NAME": "todos-local" },
  "UpdateTodoFn": { "TABLE_NAME": "todos-local" },
  "DeleteTodoFn": { "TABLE_NAME": "todos-local" }
}
